@media screen and (max-width: 950px) {
    .column {
        width: 100%;
    }
    #left {
        margin-top: 1px;
    }
    p {
        margin: 5px;
    }
    nav#left.column {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 1341px) {
    .cards-1, .cards-2, .cards-3, .cards-4 {
        width: 360px;
        height: 250px;
    }
}

@media screen and (max-width: 1270px) {
    .cards-1, .cards-2, .cards-3, .cards-4 {
        width: 330px;
        height: 240px;
    }
}

@media screen and (max-width: 1170px) {
    .cards-1, .cards-2, .cards-3, .cards-4 {
        width: 310px;
        height: 230px;
    }
}

@media screen and (max-width: 1110px) {
    .cards-1, .cards-2, .cards-3, .cards-4 {
        width: 290px;
        height: 230px;
    }
}